# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Application specific
downloads/
*.log
*.exe
